/* Estilo relacionado ao módulo de gerenciamento de pacotes */
element.style {
}
.meio .conteudo {
    min-height: calc(100vh - 172px);
}
.dashboard {
    justify-content: space-between;
    align-items: center;
}
.conteudo {
    width: 100%;
    margin: auto;
    display: flex;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
}
